:root {
  --white: #FFF;

  --green: #1ABC9C;
  --lightgreen: #48C9B0;
  --darkgreen: #16A085;

  --blue: #3498DB;
  --lightblue: #5DADE2;

  --red: #E74C3C;
  --lightred: #EC7063;

  --lightgray: #E7E9EC;

  --default: #34495E;
}

body {
  font-size: 18px;
  line-height: 1.72222;
  color: var(--default);
  background-color: var(--white);
}
a {
  color: var(--darkgreen);
  text-decoration: none;
  cursor: pointer;
  transition: .25s;
  &:hover,
  &:focus {
    color: var(--green);
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  & small {
    color: var(--lightgray);
  }
}

h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h6 {
  font-weight: normal;
}
h1 {
  font-size: 61px;
}
h2 {
  font-size: 53px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 29px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
}
p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}

ul {
  margin-bottom: 15px;
}

blockquote {
  border-left: 3px solid var(--lightgray);
  padding: 0 0 0 16px;
  margin: 0 0 30px;
  & p {
    font-size: 20px;
    line-height: 1.55;
    font-weight: normal;
    margin-bottom: .4em;
  }
  &small {
    font-size: 18px;
    line-height: 1.72222;
    font-style: italic;
    color: inherit;
    &:before {
      content: "";
    }
  }
}

textarea {
  font-size: 20px;
  line-height: 24px;
  padding: 5px 11px;
}
label {
  font-weight: normal;
  font-size: 15px;
  line-height: 2.3;
}

button {
  padding: 0;
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  &:active,
  &:focus {
    outline: 0;
  }
  & a {
    padding: 10px 15px;
    color: var(--white);
    display: block;
    &:hover {
      color: var(--white);
    }
  }
}

.primary {
  color: var(--white);
  background-color: var(--green);
}
.primary:hover,
.primary:focus,
.primary:active {
  background-color: var(--lightgreen);
  border-color: var(--lightgreen);
}

.info {
  color: var(--white);
  background-color: var(--blue);
}
.info:hover,
.info:focus,
.info:active {
  background-color: var(--lightblue);
  border-color: var(--lightblue);
}

.danger {
  color: var(--white);
  background-color: var(--red);
}
.danger:hover,
.danger:focus,
.danger:active {
  background-color: var(--lightred);
  border-color: var(--lightred);
}
