:root {
  --white: #FFF;

  --green: #1ABC9C;
  --lightgreen: #48C9B0;

  --blue: #3498DB;
  --lightblue: #5DADE2;

  --red: #E74C3C;
  --lightred: #EC7063;
}

.center {
  text-align: center;
}

.primary {
  color: var(--white);
  background-color: var(--green);
  &:hover, &:focus, &:active {
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
  }
}

.info {
  color: var(--white);
  background-color: var(--blue);
  &:hover, &:focus, &:active {
    background-color: var(--lightblue);
    border-color: var(--lightblue);
  }
}

.danger {
  color: var(--white);
  background-color: var(--red);
  &:hover, &:focus, &:active {
    background-color: var(--lightred);
    border-color: var(--lightred);
  }
}

html, body, #app, main {
  width: 100%;
  height: 100%;
}

.fadein {
  animation: fadein .4s;
}

.rega-btn-group {
  margin: auto;
  text-align: center;
}

.rega-home {
  width: 50%;
  margin: auto;
  & blockquote {
    width: 100%;
    margin-top: 36px;
    padding-top: 54.6875%;
    background: url("../assets/home.png") no-repeat;
    background-size: cover;
    display: block;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
  }
  & button {
    margin: 12px 24px;
  }
}

.rega-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & >div {
    width: 280px;
    height: 160px;
    margin: 12px 0;
    border: 6px solid var(--white);
    & a {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      color: #FFF;
      line-height: 100%;
      z-index: 1000;
      background: #0006;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background .3s;
      & h4 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: normal;
      }
      & p {
        margin: 0;
        text-align: center;
        font-size: 12px;
      }

      &:hover {
        background: #000A;
      }
    }
    & img {
      max-width: 100%;
    }
  }
}

.rega-list-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000A;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    width: 40px;
    height: 40px;
    background: var(--white);

    border-radius: 100%;  
    animation: scaleout 1s infinite ease-in-out;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0);
  } 100% {
    transform: scale(1);
    opacity: 0;
  }
}
